/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*This is my code !!!! */
.container {
  width: 960px;
  margin: 0 auto;
}

body  {
  background-color: white;
  color: black;
  text-align: center;
}

header {
  height: 80px;
  width: 100%;
  background-color: yellow;
}

header h1 {
  margin-top: 20px;
  font-style: italic;
  font-size: 30px;
  text-decoration: underline;
  color: blue;
}

header ul {
float: right;
margin-top: 20px;
display: block;
padding: 0px;
}

header ul li {
  list-style: none;
  text-decoration: none;
  display: inline;
  float: left;
  font-style: italic;
}

header ul li a {
  text-decoration: none;
  display: block;
  color: black;
  width: 100px;
  padding: 8px;
}

header ul li a:hover {
  color: grey;
}

#banner {
  width: 100%;
  height: 300px;
  background-color: white;
}

#banner h1 {
  text-align: center;
  font-style: italic;
  font-size: 30px;
  background-color: yellow;
  height: 80px;
  margin-top: 30px;
  padding-top: 30px;
  color: blue;
}

#banner h2 {
  text-align: center;
  float: right;
  font-style: italic;
  margin-left: 880px;
  position: absolute;
  margin-top: 250px;
}


#banner img {
  width: 800px;
  height: 500px;
}

#content {
  width: 100%;
  height: 180px;
  background-color: yellow;
  margin-top: 310px;
}


#content h1 {
  color: blue;
  margin-top: 20px;
  font-size: 25px;
  font-style: italic;
}

footer ul {
float: right;
margin-top: px;
display: block;
padding: 0px;
}

footer ul li {
  list-style: none;
  text-decoration: none;
  display: inline;
  float: left;
  font-style: arial;
}

footer ul li a {
  text-decoration: none;
  display: block;
  color: black;
  width: 100px;
  padding: 6px;
  margin-top: 120px;
  position: relative;
}

footer ul li a:hover {
  color: grey;
}

/*GALLERY!!*/
.gallery {
  background-color: yellow;
}

.img-single {
  width: 960px;
  height: auto;
  margin: 10px 5px;
  float: left;

}
.img-single img {
  float: left;
}

.img-double {
  width: 960px;
  height: auto;
  margin: 10px 5px;
  float: left;
}
.img-double img {
  float: left;
}
